{{#each beers as |beer|}}
  {{log beer}}
  <section data-id="{{beer.id}}">
    <h3>Brand:</h3>
    <h5>
      {{limit beer.brand 20}}
    </h5>
    <h3>Name:</h3>
    <h5>
      {{limit beer.name 25}}
    </h5>
    <h3>Style:</h3>
    <h5>
      {{limit beer.style 15}}
    </h5>
    <h3>Description:</h3>
    <p>
      {{#if beer.description}}
        {{beer.description}}
      {{else}}
        No description provided.
      {{/if}}
    </p>
  </section>

{{/each}}
