<div class="container-fluid">
  <div class="row card-row">
    {{#each beers as |beer|}}
      {{log beer}}
      <div class="col-md-6 col-sm-12">
        <section data-id="{{beer.id}}">

          <div class="card">
            <div class="card-body">

              <p class="card-text text-center">
                <b>Brewery:</b> {{limit beer.brand 50}}
              </p>

              <p class="card-text text-center">
                <b>Beer Name:</b> {{limit beer.name 50}}
              </p>

              <p class="card-text text-center">
                <b>Style:</b> {{limit beer.style 20}}
              </p>

              <p class="card-text text-center">
                {{#if beer.description}}
                  <b>Description:</b> {{beer.description}}
                {{else}}
                  <b>Description:</b> No description provided.
                {{/if}}
              </p>

              <p class="card-text" style="font-size: 10px">
                <b>ID:</b> {{beer._id}}
              </p>

            </div>
          </div>


        </section>
      </div>
    {{/each}}
  </div>
</div>
